nav ul {
   list-style-type: none; /* Remove os pontos */
   padding: 0; /* Remove o padding padrão */
   margin: 0; /* Remove a margem padrão */
}

nav ul li {
   display: inline; /* Exibe os itens na mesma linha */
   margin: 0 15px; /* Margem entre os itens */
}
